/* NAV BEGINN -------------------------------------------------------------------------------*/
html body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #205379;
}

.container {
    background-color: #e6e6e6;
    width: 100vw;
    padding: 20px 0px;
    position: fixed;
    z-index: 2;
}
.nav ul li {
    display:inline;
    padding: 20px 20px;
}

.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 12px;
    font-weight: 300;
    padding: 32px 20px;
}

/* Hover Effekt beim dr�bergehen*/
.nav a:hover {
    background-color: #c6c6c6;
    opacity: 0.75;
}

/* Padding an den Seiten */
.pull-right {
    padding: 0px 200px 0px 0px;
}

.pull-left {
    padding: 0px 0px 0px 200px;
}




.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
}

.card.hovercard .cardheader {
    background-color:#205379;
    background-size: cover;
    height: 135px;
}

.card.hovercard a {
    font-family: "Raleway", "Helvetica Neue", "Arial", "sans-serif";
    margin: 8px 14px 0 14px;
    font-size: 14px;
    line-height: 16px;
    font-weight:bold;
    color: white;
    display: block;
    overflow: hidden;
}


img {
    width: 200px;
    height: auto;
    max-width: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

input[type=file] {
    display: inline;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}



.btn{ border-radius: 50%; width:200px; height:32px; line-height:18px;  }




/*-------------------------Footer---------------------------------------*/

.footer {
    background-color: #e6e6e6;
    height: 35vh;
}

.footer-float {
    width: 30vw;
    float:left;
    position: relative;
    top: 10vh;
}

.footer-float ul {
    list-style: none;
}

.credits {
    position:relative;
    top: 30vh;
}

.impressum {
    position:relative;
    top: 30vh;
}

.social {
    display:inline;
    float:left;
    padding: 2vh;
}

.facebook {
    color: #3b5998;
    opacity: 0.75;
}

.facebook:hover {
    opacity: 1;
}

.twitter {
    color: #55acee;
    opacity: 0.75;
}

.twitter:hover {
    opacity: 1;
}

.youtube {
    color: #c4302b;
    opacity: 0.75;
}

.youtube:hover {
    opacity: 1;
}