a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px dotted #efefef;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

td {
    padding: 10px 5px;
    font-family:"Raleway", "Helvetica Neue", "Arial", "sans-serif";
}